.selectedPage {
    font-weight: bold;
}

.paginator {
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}

.pageNumber {
    display: inline-block;
    width: 20px;
    line-height: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.selectedPage {
    background-color: teal;
    border: none;
    color: white;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    line-height: 30px;
}

.paginatorButton {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    color: white;
    background-color: teal;
    width: 70px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 5px rgb(0, 92, 92);
}

.paginatorButton:active {
    box-shadow: 0 2px rgb(0, 73, 73);
    transform: translateY(3px);
}