.header {
    grid-area: h;
    background-color: rgb(248, 248, 248);
    margin-top: 10px;
}
  

.loginBlock a {
    color: white;
}

.logoutBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoutBlock p {
    font-size: 20px;
    line-height: 5px;
}

.logoutBlock button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px rgb(210, 99, 71);
}

.logoutBlock button:active {
    box-shadow: 0 1px rgb(180, 99, 71);
    transform: translateY(2px);
}

.loginBlock {
    text-decoration: none;
}

.loginBlock button {
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 70px;
    line-height: 24px;
    background-color: lawngreen;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px auto;
    box-shadow: 0 3px rgb(92, 184, 0);
}

.loginBlock button:active {
    box-shadow: 0 1px rgb(71, 143, 0);
    transform: translateY(2px);
}