.header {
    grid-area: h;
    
    margin-top: 10px;
    border-radius: 10px;
}
  
.loginBlock {
    width: 100px;
    float: right;
    padding-right: 500px;
}

.loginBlock a {
    color: white;
}

.logoutBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoutBlock p {
    font-size: 20px;
    line-height: 20px;
    box-shadow: 0 5px blueviolet;
}

.logoutBlock button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    cursor: pointer;
    outline: none;
}