

.header {
    grid-area: h;
    background-color: aqua;
}
  
.logo {
    display: block;
    width: 60px;
    float: left
}

.loginBlock {
    width: 100px;
    float: right;
    padding-right: 500px;
}

.loginBlock a {
    color: white;
}