.item {
    color: black;
    background-color: rgb(238, 238, 238);
    max-width: 600px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item img {
    border-radius: 50%;
    width: 60px;
    margin-left: 20px
}

.item div {
    width: 450px;
    margin-right: 20px;
    text-align: right;
}

.item p {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}

.item div div {
    display: block;
    cursor: pointer;
    padding-right: 100px;
}

.like:hover {
    background-color: salmon;
    color: salmon;
    border-radius: 50%;
}